* {
  margin: 0;
  padding: 0;
}

.profile {
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  // align-items: center;
  margin-top: 50px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.photo img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}



.head-body {
  display: flex;
  padding: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 60%;
}

.main p {
  font-size: 25px;
}

.main button {
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
  border: 0.5px solid lightgray;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.main button:hover {
  background-color: rgb(212, 211, 211);
  color: white;
}

.description {
  font-size: 16px;
  padding: 10px;
}

.stats {
  display: flex;
  justify-content: space-evenly;
}

.stats-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
