.content {
  margin-top: 85px;
}

.explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.explore-Users-Content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.explore-Users-Item{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 5%;
}

.explore-Moments-Content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.explore-Moments-Item{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 5%;
}

.explore-item {
  background: #ccc; /* Здесь можно добавить фоновое изображение или картинку */
  // height: 200px; /* Здесь можно задать высоту элемента */
  /* Другие стили для внешнего вида элементов */
  overflow: hidden;
}

.explore-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.exploreinput {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.header-input {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
  background: #ebebeb;
}

input.header-input {
  border: none;
}
/* Медиа-запросы для изменения количества элементов в строке */
@media (max-width: 768px) {
  .explore {
    grid-template-columns: repeat(
      auto-fill,
      minmax(200px, 1fr)
    ); /* Изменение количества элементов на узких экранах */
  }
  .explore-item {
    height: 200px;
  }
}

@media (max-width: 480px) {
  .explore {
    grid-template-columns: repeat(
      auto-fill,
      minmax(330px, 1fr)
    ); /* Изменение количества элементов на очень узких экранах */
  }
  .explore-item {
    height: 200px;
  }
}
